# Example environment variables for AI integration
NEXT_PUBLIC_XAI_API_URL=https://api.x.ai/v1/chat/completions
NEXT_PUBLIC_XAI_API_KEY=xai-yBdncPUttGbTXiXyAupLnCWXBz2Fuf3m4ZhAdaeyk6dOvyxLAMEZ573TO8peKeShHn3vGKX8hbTIfAfx

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_cHJvdWQtY2hvdy05LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_POctxkgX3C9HTdesy9i3pk1LlulJZ7TzPSBgaKFthn
