.bar-height-0 { height: 0px; }
.bar-height-1 { height: 1px; }
.bar-height-2 { height: 2px; }
.bar-height-3 { height: 3px; }
.bar-height-4 { height: 4px; }
.bar-height-5 { height: 5px; }
.bar-height-6 { height: 6px; }
.bar-height-7 { height: 7px; }
.bar-height-8 { height: 8px; }
.bar-height-9 { height: 9px; }
.bar-height-10 { height: 10px; }
.bar-height-15 { height: 15px; }
.bar-height-20 { height: 20px; }
.bar-height-25 { height: 25px; }
.bar-height-30 { height: 30px; }
.bar-height-35 { height: 35px; }
.bar-height-40 { height: 40px; }
.bar-height-45 { height: 45px; }
.bar-height-50 { height: 50px; }
.bar-height-55 { height: 55px; }
.bar-height-60 { height: 60px; }
.bar-height-65 { height: 65px; }
.bar-height-70 { height: 70px; }
.bar-height-75 { height: 75px; }
.bar-height-80 { height: 80px; }
.bar-height-85 { height: 85px; }
.bar-height-90 { height: 90px; }
.bar-height-100 { height: 100px; }
